<!-- 頁尾 -->
<div class="footer-bg hidden-xs">
    <div class="footer">
        <div class="container text-center footer-logo">
            <div class="text-center col-md-10 col-md-offset-1 col-xs-10 col-xs-offest-1">
                <%= image_tag('home06.png', class: "img-responsive col-md-4 col-md-offset-4") %>
                <!-- <img src="img/home06.png" class="img-responsive col-md-4 col-md-offset-4"> -->
            </div>
            <div class="text-center col-md-6 col-md-offset-3 hidden-xs footer_font ">
                </br>
                </br>
                <br>
                <h4>電話</h4>
                <h4>02-2558-8418 / 02-2556-1848</h4>
                <h4>信箱</h4>
                <h4>watch180tw@gmail.com</h4>
                <h4>營業時間</h4>
                <h4>營業時間 12:00PM ~ 20:30PM (週日休) </h4>
                <h4>地址</h4>
                <h4>台北市大同區民生西路180號</h4>
                <br>
                <p>站內所有資訊僅供參考，實際售價以店面交易價格為準</p>
            </div>
            <div class=" col-md-6 col-md-offset-3 visible-xs col-xs-12 ">
                </br>
                <div class="col-xs-12">
                    <br>
                </div>
                <div class="text-left col-xs-12">
                    <p>電話 02-2558-8418 / 02-2556-1848</p>
                    <p>信箱 watch180tw@gmail.com</p>
                    <p>營業時間 12:00PM ~ 20:30PM (週日休) </p>
                    <br>
                    <p>地址 台北市大同區民生西路180號</p>
                    <p>站內所有資訊僅供參考，實際售價以店面交易價格為準</p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar-f hidden-xs">
    <div class="container text-center">
        <div class="col-md-4 col-md-offset-4">
            <p class="rights"> 2015 Watch180 All rights reserved</p>
        </div>
        <div class="col-md-4 ">
            <a href="#header">
              <%= image_tag('top_c.png', class: "top-btn") %>
              <!-- <img src="img/top_c.png" class="top-btn"> -->
            </a>
        </div>
    </div>
</nav>

<!--手機版頁尾 -->
<div class="footer-bg visible-xs">
    <div class="footer-m">
        <div class="container text-center footer-logo">
            <div class="text-center col-md-10 col-md-offset-1 col-xs-10 col-xs-offest-1">
              <%= image_tag('home06.png', class: "img-responsive col-md-4 col-md-offset-4") %> 
              <!-- <img src="img/home06.png" class="img-responsive col-md-4 col-md-offset-4"> -->
            </div>
            <div class="text-center col-md-6 col-md-offset-3 hidden-xs ">
                </br>
                </br>
                <br>
                <h4>電話</h4>
                <h4>02-2558-8418 / 02-2556-1848</h4>
                <h4>信箱</h4>
                <h4>watch180tw@gmail.com</h4>
                <h4>營業時間</h4>
                <h4> 12:00PM ~ 20:30PM (週日休) </h4>
                <h4>地址</h4>
                <h4>台北市大同區民生西路180號</h4>
                <br>
                <p>站內所有資訊僅供參考，實際售價以店面交易價格為準</p>
            </div>
            <div class=" col-md-6 col-md-offset-3 visible-xs col-xs-12 ">
                </br>
                <div class="col-xs-12">
                    <br>
                </div>
                <div class="text-left col-xs-12">
                    <p>電話 02-2558-8418 / 02-2556-1848</p>
                    <p>信箱 watch180tw@gmail.com</p>
                    <p>營業時間 12:00PM ~ 20:30PM (週日休) </p>
                    <br>
                    <p>地址 台北市大同區民生西路180號</p>
                    <p>站內所有資訊僅供參考，實際售價以店面交易價格為準</p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar-f visible-xs">
    <div class="container text-center">
        <p class="rights"> 2015 Watch180 All rights reserved</p>
    </div>
</nav>